[submodule "eth-dapp-voting"]
	path = eth-dapp-voting
	url = https://github.com/sunsingerus/eth-dapp-voting
[submodule "eth-dapp-petshop"]
	path = eth-dapp-petshop
	url = https://github.com/sunsingerus/eth-dapp-petshop
[submodule "eth-erc20-token"]
	path = eth-erc20-token
	url = https://github.com/sunsingerus/eth-erc20-token
